<div class="card text-left border-secondary col-md-6 mx-auto pr-0 pl-0">
    <div class="card-header text-center bg-primary text-white">
        Comprar plato
    </div>
    <div class="card-body ">
        <form [formGroup]="compraForm" (submit)="comprar()">
            <div class="form-group">
                <label for="inputDniCompra">Número de identificacion</label>
                <input type="number" class="form-control" id="inputDniCompra" placeholder="Identificacion"
                    formControlName="dni" formControlName="cliente">
            </div>
            <label>
                <input id="radioBandeja" type="radio" value="1" formControlName="plato" name="plato">
                <span>Bandeja Paisa</span>
            </label>
            <br>
            <label>
                <input type="radio" value="2" formControlName="plato" name="plato">
                <span>Paella Valenciana</span>
            </label>
            <br>
            <label>
                <input type="radio" value="3" formControlName="plato" name="plato">
                <span>Cazuela de mariscos</span>
            </label>
            <br>
            <label>
                <input type="radio" value="4" formControlName="plato" name="plato">
                <span>Conejo al vino</span>
            </label>
            <br>
            <label>
                <input type="radio" value="5" formControlName="plato" name="plato">
                <span>Pargo rojo</span>
            </label>
            <button id="crearVenta" type="submit" [disabled]="compraForm.value.cliente == null || compraForm.value.plato == null
                || compraForm.value.cliente.length == 0 || this.compraForm.value.plato.length == 0"
                class="btn btn-primary float-right">Comprar
            </button>
        </form>
    </div>
</div>