<div class="form-row">
    <div class="col-md-6">
        <h2 class="">Todas las ventas</h2>
        <br>
        <table id="tablaVentas" class="table table-responsive table-striped mb-5">
            <thead>
                <tr>
                    <th id="idVenta">Id</th>
                    <th id="ClienteVenta">Cliente</th>
                    <th id="PlatoVenta">Plato</th>
                    <th id="PrecioVenta">Precio</th>
                    <th id="fechaVenta">Fecha</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of listaVentas | async">
                    <td>{{item.id}}</td>
                    <td>{{item.cliente}}</td>
                    <td>{{item.plato}}</td>
                    <td>{{item.precio}}</td>
                    <td>{{item.fecha}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <div class="col-md-6">
        <div class="form-row">
            <div class="col-md-5"><h3 class="">Ventas de un Cliente</h3></div>
            <div class="col-md-4">                
                    <input type="text"  id="inputDniCliente" placeholder="Identificacion" [(ngModel)] = "dni">                
            </div>
            <div class="col-md-3">
                <button id="botonListar" (click)= "getVentasUsuario()" [disabled] = "dni.length == 0" type="button" class="btn btn-primary btn-lg">Buscar</button>
            </div>
        </div>
        <br>
        <table id="TablaVentasCliente" class="table table-responsive table-striped">
            <thead>
                <tr>                    
                    <th id="ClienteBuscado">Cliente</th>
                    <th id="platoCliente">Plato</th>
                    <th id="precioCliente">Precio</th>
                    <th id="fechaCompraCliente">Fecha</th>
                    <th id="promocionCliente">Promocion</th>
                </tr>
            </thead>
            <tbody>
                <tr id="listaVentasCliente" *ngFor="let item of listaVentasUsuario | async">
                    <td>{{item.cliente}}</td>
                    <td>{{item.plato}}</td>
                    <td>{{item.precio}}</td>
                    <td>{{item.fecha}}</td>
                    <td>{{item.promocion == true ? 'Si' : 'No'}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    
</div>
